github "ReactiveCocoa/ReactiveCocoa" ~> 6.0
github "MagicalPanda/MagicalRecord"
github "drmohundro/SWXMLHash" ~> 4.0
github "rs/SDWebImage"
github "dekatotoro/SlideMenuControllerSwift"
github "Alamofire/Alamofire" ~> 4.5
